[Desktop Entry]
Version=1.0
Type=Application

Name=Azul Box
Comment=A wraper for ffmpeg and yt-dlp written in rust.
Categories=AudioVideo;Music;

Icon=azul-box
Exec=io.codeberg.tahoso.azul_box
Terminal=false
