[Desktop Entry]
Version=0.2.1
Type=Application

Name=Azul Box
Comment=A wraper for ffmpeg and yt-dlp written in rust.
Categories=AudioVideo;Music;

Icon=page.codeberg.tahoso.azul-box
Exec=azul-box
Terminal=false
