/target
bin-list
bin-script/azul-box
desktop/flatpak/.venv
desktop/flatpak/.flatpak-builder
desktop/flatpak/build-dir
desktop/flatpak/flatpak-cargo-generator.py
desktop/flatpak/builddir
desktop/flatpak/repo
