[Desktop Entry]
Name=Azul box
Comment=A wraper for ffmpeg and yt-dlp written in rust.
Exec=/usr/bin/azulbox
Icon=/usr/share/icons/hicolor/256x256/apps/azul_box.png
Terminal=false
Type=Application
Categories=AudioVideo;Music;
