[Desktop Entry]
Name=Azul box
Comment=A wraper for ffmpeg and yt-dlp written in rust.
Exec=/usr/bin/azulbox
Icon=page.codeberg.tahoso.azul_box
Terminal=false
Type=Application
Categories=AudioVideo;Music;
